---

---
<div class="flex justify-between items-center p-2 md:p-4 bg-[#282828]">
<p class="text-xl md:text-3xl text-[#ebdbb2]"><a href="/">maniak</a></p>
<nav class="flex justify-center gap-5 text-xl md:text-3xl text-[#ebdbb2]">
    <a href="/" class="border text-white p-2 rounded-lg hover:bg-[#458588] transition duration-300">/home</a>
    <a href="/posts" class="border text-white p-2 rounded-lg hover:bg-[#458588] transition duration-300">/posts</a>
</nav>
</div>