---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "home"
import TagButton from '../components/TagButton.astro';
const allPosts = await Astro.glob('./posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<BaseLayout title={title}>
	<div class="text-[#ebdbb2] bg-[#3c3836] m-2 p-4  rounded-2xl flex flex-col gap-3">
		Hey there fellow humans! I am Karthik. I am a CompSci student and I have a great fascination for tech. I also make videos on my YouTube channel. I am a noob (if I say so myself) in the software development space. I also am a great fan of music and would love to make my own music some day. This is my personal space where I talk about all kinds of things that I wish to communicate with the present and future world. So I hope you enjoy reading my thoughts!
	</div>
	<div class="flex justify-around items-center text-[#ebdbb2] bg-[#3c3836] m-2 p-4  rounded-2xl">
	<h1 class="text-2xl">Tags: </h1>
	<div class="flex flex-wrap justify-center items-center gap-5 py-5">
		{tags.map((tag) => (
			<TagButton url={tag} title={tag}/>
		))}
	</div>
	</div>
</BaseLayout>